<html>
    <head>
        <title>Nahuel's blog</title>
    </head>

	<body> 
		<div>
			<h1>A heading</h1> for your most important heading
			<h2>A sub-heading</h2> 
			<h3>A sub-sub-heading</h3> 
			<p>A paragraph of text</p>
			<em>emph text</em> emphasizes your text
			<strong>strong text</strong> 
		</div> 
		<div>
			<br /> 
			<a href="http://www.gmail.com">abre gmail si tenes huevos</a> 
			<ul><li>Si si señores yo soy de Boca</li><li>Si si señores de corazón</li><li>Porque este año desde la boca desde la boca </li><li>Salió el nuevo campeón</li></ul>
		</div> 
	</body>

</html>