<html>
    <head>
        <title>Nahuel's blog</title>
    </head>

	<body>
		<div>
			<h1>Esta es mi página</h1>
			<h2>I'm not even lying</h2>
			<h3>A sub-sub-heading</h3>
			<p>A paragraph of text</p>
			<em>emph text</em> emphasizes your text
			<strong>strong teeeeext</strong>
		</div>

		<div>
		{% for post in posts %}
    		<div>
        	<p>published: {{ post.published_date }}</p>
        	<h1><a href="">{{ post.title }}</a></h1>
        	<p>{{ post.text|linebreaksbr }}</p>
    		</div>
		{% endfor %}
		</div>


	</body>

</html>